@charset "UTF-8";

/* fonts */
.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.noto-sans lao-style {
  font-family: "Noto Sans Lao", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
html {
  scroll-behavior: smooth;
  background-color: #f8f8f8;
}
/* header  */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 8em;
  padding: 1.5%;
  background-color: #f8f8f8;
}
header .logo {
  width: 28%;
  height: auto;
}
header nav {
  margin-right: 5vw;
  display: flex;
}
header menu,
footer menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
header li,
footer li {
  padding: 0 2vw;
  font-size: 1.3em;
}
header li a,
footer li a {
  text-decoration: none;
  transition: all .25s linear;
}

/* main */
main {
  padding: 3%;
}
.h-1 h1 {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 350%;
}
section {
  margin-bottom: 3%;
}
.contact-form {
  background-color: #f8f8f8;
  padding: 2em;
  border-radius: 1vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}
.contact-form h2 {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: #4B97EE;
  margin-bottom: 1em;

}
.contact-form p {
  font-size: 1.2em;
  font-family: "Noto Sans Lao", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contact-form p {
  margin: 1% 0;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 110%;
  padding: 1.5vw;
  margin-bottom: 2vh;
  font-size: 0.7em;
  border: 0.1em solid #cccccc;
  border-radius: 1vw;
}
.contact-form select {
  width: 110%;
  padding: 1em;
  margin-bottom: 2%;
  font-size: 1.2em;
}
.contact-form textarea {
  width: 200%;
  height: 30vh;
  padding: 1.5vw;
  margin: 1em auto;
  font-size: 0.6em;
  border: 0.1em solid #cccccc;
  border-radius: 1vw;
}
.contact-form input[type="submit"] {
  width: 100%;
  padding: 1.5vw;
  background-color: #EEA24B;
  color: #ffffff;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}
.contact-form input[type="submit"]:hover {
  background-color: #3d80cb;
}

/* footer  */
footer {
  padding: 1.5%;
}
.footer-logo .logo {
  width: 15%;
  height: auto;
}
footer nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
}
.footer-form {
  display: flex;
  justify-content: space-between;
}
.footer-form form {
  display: flex;
  flex-wrap: wrap;
}
.footer-form p {
  margin-right: 1vw;
}
.footer-form input[type="text"],
.footer-form input[type="email"],
.footer-form input[type="submit"] {
  width: calc(50% - 0.5);
  padding: 1vw;
  margin-bottom: 1vw;
}
.footer-form input[type="submit"] {
  margin-top: 4.7%;
}
.footer-form label {
  font-size: 1.2em;
  margin-right: 1vw;
}