@charset "UTF-8";

/* fonts */
.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans lao-style {
    font-family: "Noto Sans Lao", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
html {
  scroll-behavior: smooth;
  background-color: #f8f8f8;
}

/* header  */
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 8em;
    padding: 1.5%;
    background-color: #f8f8f8;
}
header .logo {
    width: 28%;
    height: auto;
}
header nav {
    margin-right: 5vw;
    display: flex;
}
header menu,
footer menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
header li,
footer li {
    padding: 0 2vw;
    font-size: 1.3em;
}
header li a,
footer li a {
    text-decoration: none;
    transition: all .25s linear;
}

/* main */
.celsius-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#product {
    position: relative;
    height: auto;
    width: 30%;
    object-fit: cover;
}
#product:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}
.celsius-orange div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.nutritional-label {
    text-align: center;
}
.nutritional-label div {
    text-align: center;
}
.celsius-orange h1 {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    font-size: 5em;
    letter-spacing: 3vw;
    margin-bottom: 1em;
    text-shadow: 0.2vw 0.1vh 0.2vw rgba(0, 0, 0, .8);
    transition: all 0.3s ease-in-out;
}
.description h2 {
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 2em;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}
.description p {
    margin-right: 4em;
    margin-left: 4em;
    margin-bottom: 4em;
    font-family: "Noto Sans Lao", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.5em;
    line-height: 8vh;
}
.nutritional-label h3 {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    letter-spacing: 3vw;
    text-shadow: 0.2vw 0.1vh 0.2vw rgba(0, 0, 0, .8);
    transition: all 0.3s ease-in-out;
}
#label {
    position: relative;
    height: auto;
    width: 18%;
    object-fit: cover;
    margin: auto;
}
#label:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

/* footer  */
footer {
    padding: 1.5%;
}
.footer-logo .logo {
    width: 15%;
    height: auto;
}
footer nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}
.footer-form {
    display: flex;
    justify-content: space-between;
}
.footer-form form {
    display: flex;
    flex-wrap: wrap;
}
.footer-form p {
    margin-right: 1vw;
}
.footer-form input[type="text"],
.footer-form input[type="email"],
.footer-form input[type="submit"] {
    width: calc(50% - 0.5);
    padding: 1vw;
    margin-bottom: 1vw;
}
.footer-form input[type="submit"] {
    margin-top: 4.7%;
}
.footer-form label {
    font-size: 1.2em;
    margin-right: 1vw;
}